.show-container{
  margin: 0 auto;
  width: 70%;
  margin-top: -60px;

  .show-container-left,
  .show-container-right{
    div{
      background-color: rgb(240, 240, 240);
      padding: 30px;
      border-radius: 3px;
      margin-bottom: 20px;
      box-shadow: 0px 2px 1px 1px #e4e4e4;
    }
  }

  .show-container-left{
    width: 67%;
    margin-right: 3%;
  }

  .show-container-right{
    width: 30%;

    .buttons-edit{
      margin-left: 3px;
    }

    .buttons-back{
      margin-right: 3px;
    }
  }
}

.flat-image{
  width: 100%;
  height: 450px;
  object-fit: cover;
  box-shadow: 2px 2px 6px #b6b6b6;
}

.share-links{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  i{
    font-size: 40px;
    cursor: pointer;

  }

  i:hover{
    color: black;
  }
}
